[2018-11-15 14:26] fistakus opened #3 "automatically created java packageName contains hyphen and package build fails"
**Steps to reproduce**
1) Archetype setup:
Follow _Building SPA Starter Kit Archetype_ of [README.md](https://github.com/adobe/aem-spa-project-archetype/README.md) file
2) Create a project in batch mode (see _Using SPA Starter Kit Archetype_ in [README.md](https://github.com/adobe/aem-spa-project-archetype/README.md)) using the following command
(Remark: this is the current minimal set of properti

[2018-11-19 10:20] grubyak opened #5 "requiredProperty with default value is not asked while building project in interactive mode"
Due to limitation in archetype generator (see https://issues.apache.org/jira/browse/ARCHETYPE-308) user is not asked for a value of required property that have default value (unless it's a reference to another property).

The only workaround is to use another property and use it a reference in original property, but it would be confusing and with ARCHETYPE-308 fixed, user would get asked twice for

[2018-11-19 12:25] #5 closed, assigned to grubyak

[2018-11-20 08:26] #3 closed, assigned to fistakus

[2018-11-22 10:00] lydiapuric opened #7 "Refactor structure of project sub-modules"
Traditional AEM modules/naming conventions should be used. Something like:
core - java bundle (hierarchyImpl)
ui.apps - /apps
ui.content - /conf, /content
react-app or angular-app (depending on choice)
The above are well-understood conventions by AEM developer community and will help with adoption.
In the content module, the filter.xml for /conf and /content should have a mode set to merge to avoi

[2018-11-22 10:02] lydiapuric opened #8 "Cleanup the maven dependencies"
6.3.1.2 version of the uber jar. AFAIK the SPA editor is only supported on 6.4 + SP2 [1]
Direct embeds of SPA editor dependencies. Seems like updating the uber jar would help?
Core Components are not embedded as a subpackage, it should be embedded as part of ui.apps like the AEM Project Archetype

[2018-11-22 10:18] lydiapuric opened #9 "Remove SSR code"
The Starter Kit should not have any reference to the SSR implementation in the code, poms, readme, ...

[2018-11-22 10:25] lydiapuric opened #10 "Clean readme, maven profiles, npm scripts, language, core components version"

[2018-11-28 17:26] #8 closed, assigned to lydiapuric

[2018-11-28 17:26] #7 closed, assigned to lydiapuric

[2018-12-06 11:04] #10 closed, assigned to lydiapuric

[2018-12-06 11:04] #9 closed, assigned to norbiorb

[2018-12-06 11:06] lydiapuric opened #16 "Add dynamic routing for Angular"
Currently the routing in Angular is static. Make this routing dynamic.
Note: In React the routing is already dynamic.

[2018-12-07 10:12] habansal opened #18 "Text component cannot be updated using the dialog after inline edit"
This issue is the same as the one fixed for Sample Content via https://github.com/adobe/aem-sample-we-retail-journal/pull/16/files

Steps to reproduce:

* Use the archetype to generate a starter kit and upload it on an AEM instance.
* Navigate to any page generated by the archetype
* Add a text component
* Select the newly created text component
* Open the dialog and edit once
* Re-open the dialog

[2018-12-07 10:57] #18 closed, assigned to nobody

[2018-12-12 20:12] godanny86 opened #23 "[AEM 6.4 + SP2] - Jackson Dependency Issue"
AEM version: AEM 6.4.2

The **Core** bundle relies on a dependency on `com.fasterxm.jackson.*` version **2.9.7**.

However, on AEM 6.4 + SP2 the dependency included is **2.8.4**. This causes the bundle to fail to start:

[code]
I understand there is a security issue with version 2.8.4, perhaps the latest version of the bundle can be embedded in the project? Or maybe in AEM 6.4 + SP3 this dependenc

[2018-12-13 06:36] lydiapuric commented on #23
Thanks Gordon for your feedback.
Unfortunately com.fasterxm.jackson 2.8.4 has a security vulnerability, see http://www.cvedetails.com/vulnerability-list.php?vendor_id=15866&product_id=42991&version_id=237509&page=1&hasexp=0&opdos=0&opec=0&opov=0&opcsrf=0&opgpriv=0&opsqli=0&opxss=0&opdirt=0&opmemc=0&ophttprs=0&opbyp=0&opfileinc=0&opginf=0&cvssscoremin=0&cvssscoremax=0&year=0&month=0&cweid=0&order=1

[2018-12-13 15:57] lydiapuric commented on #23
Decision has been taken: com.fasterxml.jackson dependencies with match the 6.4 dependencies from SP3 and therefore set back to 2.8.4.
We will push for an update.

[2018-12-13 22:00] godanny86 opened #26 "[React] Provide a non-ejected version of the Create React App"
Ideally, the starter kit should generate a react-app that is not ejected from the Create React App script. This will provide several benefits:

* Simplifies the react-app project configuration and minimizes the dependencies to track
* Starts the project using conventions recommended by Facebook
* Easy for customers to update to the latest version or customize
* Common starting point for React deve

[2018-12-14 12:07] lydiapuric opened #28 "Security alert for cryptiles"
karma-webdriver-launcher uses cryptiles 3.1.2. Upgrade to cryptiles to version 4.1.2 or later is recommended to get rid of this security vulnerability.

[2018-12-14 12:08] lydiapuric commented on #28
Risk got marked as tolerable as this is used only in tests and there is no newer version of karma-webdriver-launcher.

[2018-12-14 12:08] #28 closed

[2018-12-14 12:09] lydiapuric commented on #28
npm ll cryptiles
angular-app@1.1.0
│ /Users/puric/Downloads/myspa/angular-app
│ Example project from an angular.io guide.
│
└─┬ karma-webdriver-launcher@1.0.5
  │ A Karma plugin. Launcher for Remote WebDriver instances.
  │ git://github.com/karma-runner/karma-webdriver-launcher.git
  │ https://github.com/karma-runner/karma-webdriver-launcher#readme
  └─┬ wd@1.10.3
    │ WebDriver/Selenium 2 node.j

[2018-12-14 14:54] #23 closed

[2018-12-15 09:21] #16 closed, assigned to grubyak, lydiapuric

[2018-12-18 15:24] godanny86 opened #34 "Why have All-in-One module?"
I understand this will serve a single package to AEM, which will include two sub-packages of ui.apps and core, but is there a significant advantage here?
It slightly complicates the archetype and differs from https://github.com/Adobe-Marketing-Cloud/aem-project-archetype. The two archetypes should be as closely aligned as possible. When not directly related to SPA capabilities, established convent

[2018-12-18 16:14] lydiapuric commented on #34
Thanks @godanny86!
We are aware that there is the aem-project-archetype. We tried to align them as close as possible with restricted initial setup for SPA.
ui.apps defines a restricted set of components page, app and text which proxy the core components. Additionally the page component differs in case you use react or angular as frontend. This is the use case here. The core bundle currently needs

[2018-12-18 16:21] godanny86 commented on #34
Hi @lydiapuric! I'm just saying there doesn't appear to be a need for the All-in-one module and that when in doubt the conventions established by the aem-project-archetype should be used. The aem-project-archetype also includes a core module which includes some sample Java code and this is embedded in the ui.apps module. I'm still not seeing the need for the All-in-one module?

[2018-12-18 16:31] lydiapuric commented on #34
The main reason for an All-in-one package was to restrict the show case for SPA.
While the aem-project-archetype will contain different modules to be shown as best cases for new AEM projects, the spa archetype restricts the use case for SPA to get a smooth start. The SPA archetype can be integrated into an existing AEM project to start without distraction and to understand what has to be done.
The

[2018-12-18 16:35] godanny86 commented on #34
Ah, ok. I hadn't thought of that use case. I would think that most SPA projects are stand-alone but makes sense I suppose. Will open a separate issue for the bundle. Thanks!

[2018-12-18 16:38] godanny86 opened #35 "autoInstallBundle profile missing for Core Module"
An established AEM convention is to use the profile `autoInstallBundle` to deploy just a project's OSGi bundles to a local AEM instance. Currently, this is done with the profile `autoInstallPackage`. In order to promote consistency across projects the `autoInstallBundle` profile should be used.

[2018-12-18 16:46] lydiapuric commented on #34
Thank you Daniel for your feedback! Resolving this issue.

[2018-12-18 16:46] #34 closed

[2019-01-11 11:11] lydiapuric opened #36 "[react-app] Migrate karma tests to jest"
With https://github.com/adobe/aem-spa-project-archetype/pull/27 jest is used for testing.
Migrate the existing karma test to jest.

[2019-01-11 11:11] lydiapuric commented on #36
WIP

[2019-01-11 11:30] lydiapuric commented on #36
Checking around for the usage of MutationObserver: It looks like MutationObserver is not supported in jest and there is no plan to support it.
I might create a mock implementation of MutationObserver that behaves how we need.

[2019-01-14 18:16] gutsy opened #39 "Remove 'react' optionFrontend param selection from the default"
Leave off this selection as a default value, so the user has to choose as angular and react are both working options in the AEM SPA editor

[2019-01-21 04:14] pawan-mittal opened #40 "Build Failing while Creating project"
Hey, this is really cool archetype to get started with AEM SPA editor. I am happy to see it available, earlier I used a shell script to modify references in reference spa app for generating custom SPA project which was provided in the BETA release. Excited to use in my next demo soon :) .

Another side -

Issue 1 - please update README.md file with latest version 1.0.3-SNAPSHOT but currently it's

[2019-01-21 09:54] lydiapuric commented on #26
Thanks @godanny86! Merged to development.
Follow-up issue for Jest tests created, see https://github.com/adobe/aem-spa-project-archetype/issues/36

[2019-01-21 09:54] #26 closed

[2019-01-21 09:55] lydiapuric commented on #39
Agreed and will be addressed: There will be no default value for optionFrontend param provided.
Note: There is a known issue with required properties to set which have default values, see https://issues.apache.org/jira/browse/ARCHETYPE-308?attachmentSortBy=fileName.

[2019-01-21 10:06] lydiapuric opened #41 "Remove all default values from archetype required properties"
There is a known issue with required properties to set which have default values, see https://issues.apache.org/jira/browse/ARCHETYPE-308?attachmentSortBy=fileName.
As this issue is from 2015 and seems to needs some while to be fixed, remove all default values from archetype required properties

Note: With generate goal, the first time, no default value is asked for.
When you answer N to confirmat

[2019-01-21 10:07] lydiapuric commented on #39
Will be addressed with https://github.com/adobe/aem-spa-project-archetype/issues/41

[2019-01-21 10:07] #39 closed

[2019-01-21 18:02] #40 closed

[2019-01-24 08:42] pawan-mittal opened #43 "UTF-8 Missing in <head> tag"
Hi, I have found  `<meta charset="utf-8" />` missing in public/index.html which broke my fonts and were not loaded on page and giving 304.

**Before adding UTF-8**

![screenshot 2019-01-24 at 2 10 43 pm](https://user-images.githubusercontent.com/5343404/51665500-e3b67900-1fe1-11e9-83ef-f7d6a4b2c5f2.png)

**After adding UTF-8**
![screenshot 2019-01-24 at 2 12 16 pm](https://user-images.githubuserco

[2019-01-24 17:03] lydiapuric commented on #43
PR provided by @pawan-mittal, see https://github.com/adobe/aem-spa-project-archetype/pull/44

[2019-01-24 18:05] #36 closed

[2019-01-25 16:48] pawan-mittal commented on #43
Thanks. It's merged in the development branch. :)

[2019-01-25 16:48] #43 closed

[2019-01-25 18:34] lydiapuric commented on #41
PR in https://github.com/adobe/aem-spa-project-archetype/pull/45

[2019-01-25 18:35] lydiapuric commented on #35
PR in https://github.com/adobe/aem-spa-project-archetype/pull/45

[2019-02-07 16:04] godanny86 opened #48 "Extra padding in React project UI"
There is a sizeable gap/padding when editing the sample React app in the Site's Editor:

![editorgap](https://user-images.githubusercontent.com/8974514/52423437-1f633f80-2ac6-11e9-847c-4594bc7ab94f.png)

When viewing in Preview or published mode the padding disappears:

![gapgone](https://user-images.githubusercontent.com/8974514/52423498-3f92fe80-2ac6-11e9-95e5-d0650fb00ed7.png)

I believe this i

[2019-02-15 22:19] davidjgonzalez opened #51 "Angular/React-built Clientlibs shouldn't us AEM GCC minification"
https://github.com/adobe/aem-spa-project-archetype/blob/4ce2eaa02d49cedef6e68a29a5f613360862d9a0/src/main/resources/archetype-resources/angular-app/clientlib.config.js#L28

AEM ships with an old GCC. It doesn't seem wise to run the JS code through AEM's old GCC when, at build time, we have the most modern minification tools at our disposal in the Node ecosystem.

The JS delivered into the clientli

[2019-02-15 22:26] davidjgonzalez opened #52 "[Angular] Installed Angular version is 6; latest version is 7"
https://github.com/adobe/aem-spa-project-archetype/blob/4ce2eaa02d49cedef6e68a29a5f613360862d9a0/src/main/resources/archetype-resources/angular-app/package.json#L24

The installed Angular version is 6, which is old. The latest stable version is 7.

Is there a reason why cannot install the latest stable version of Angular, since we are not allowing the Angular version itself to be selected?

[1] ht

[2019-02-15 22:29] davidjgonzalez opened #53 "Naming mismatch between Angular and React"
https://github.com/adobe/aem-spa-project-archetype/blob/4ce2eaa02d49cedef6e68a29a5f613360862d9a0/src/main/resources/archetype-resources/angular-app/src/app/components/main-content/main-content.component.ts#L29

It would be good to standardize on naming and idioms used across the SPA projects.
In Angular this is called "MainContenComponet" and in the React app, its the "PageComponent", yet they rep

[2019-02-15 22:33] davidjgonzalez opened #54 "[Angular] Extracting all MapTo and EditConfigs into a single file is an anti-pattern"
https://github.com/adobe/aem-spa-project-archetype/blob/4ce2eaa02d49cedef6e68a29a5f613360862d9a0/src/main/resources/archetype-resources/angular-app/src/app/components/mapping.ts#L17

Extracting all EditConfigs and MapTo's into a single mappings.ts is confusing and breaks the separation of concerns (the concerns for a single component are both split up, and then partially consolidated into a single

[2019-02-15 22:39] davidjgonzalez opened #55 "[Angular] Pre-compiled AEM responsive grid included"
https://github.com/adobe/aem-spa-project-archetype/blob/4ce2eaa02d49cedef6e68a29a5f613360862d9a0/src/main/resources/archetype-resources/angular-app/src/assets/responsive.css#L17

While removing the AEM dependency for the responsive grid is great, AEM's responsive grid is generated via parameterized inputs (IIRC gutter, and columns?). It appears a  pre-baked grid is included that as generated using

[2019-02-15 22:45] davidjgonzalez opened #56 "[Angular] Model Manager Service inclusion unnecessary"
https://github.com/adobe/aem-spa-project-archetype/blob/4ce2eaa02d49cedef6e68a29a5f613360862d9a0/src/main/resources/archetype-resources/angular-app/src/app/components/model-manager.service.ts#L21

It is unclear why the ModelManagerService is included - it does not appear useful or necessary.

As a general rule, any code included that isn't self-documenting should be well documented in the comments

[2019-02-15 22:48] davidjgonzalez opened #57 "[Angular] MainContentComponent candidate for Node Module inclusion"
https://github.com/adobe/aem-spa-project-archetype/blob/4ce2eaa02d49cedef6e68a29a5f613360862d9a0/src/main/resources/archetype-resources/angular-app/src/app/components/main-content/main-content.component.ts#L29

It seems like the MainContentComponent is something that could/should be moved into the angular components npm module. Most ppl will use it as is, as its simply a pass-through for the <aem-

[2019-02-15 22:52] davidjgonzalez opened #58 "[Angular] CustomModelClient purpose unclear"
https://github.com/adobe/aem-spa-project-archetype/blob/4ce2eaa02d49cedef6e68a29a5f613360862d9a0/src/main/resources/archetype-resources/angular-app/CustomModelClient.js#L27

It appears that the CustomModelClient was accidentally left over (it is floating outside the /app folder). This file is also ~undocumented making it confusing as to its purpose and/or how/when to use it.

I'd recommend moving

[2019-02-19 07:48] pfauchere commented on #35
Closing as https://github.com/adobe/aem-spa-project-archetype/pull/45 has been released

[2019-02-19 07:48] #35 closed

[2019-02-25 14:13] pfauchere commented on #54
Thank you @davidjgonzalez. The proposition makes total sense. It has been a debate for some time among the developers and we couldn't decide so we deferred the uniformization. I am personally also in favor of having the mapping occur either in the package or the file that contains the component class declaration

[2019-02-25 14:15] pfauchere commented on #52
No particular reason. We indeed may want to update the version of that dependency. That said, we should probably only target major bumps or security fixes

[2019-02-25 14:17] pfauchere commented on #53
@davidjgonzalez Once again, I fully agree and also notice the misalignment. We'll consider this fix for the next release

[2019-02-25 14:19] pfauchere commented on #51
Thx, we will investigate what is the proper configuration. And as you said, it seems like no configuration should be actually set

[2019-02-25 14:21] pfauchere commented on #55
This stylesheet is only used for frontend development. Thus, we differed the creation of such a tool

[2019-02-25 14:25] pfauchere commented on #58
The `DEVELOPMENT.md` file [0] contains some vague explanation of when and how to use the `CustomModelClient` class. We recently made some change in the React project where we conditionally use the `CustomModelClient` when starting the development server. We should probably align the `Angular` project accordingly.

[0] https://github.com/adobe/aem-spa-project-archetype/blob/development/src/main/res

[2019-02-25 14:30] pfauchere commented on #56
The service is used in [0] to have each page pre-populated with data. We should definitively document that service as well as its usage in the `MainContentComponent`

[0] https://github.com/adobe/aem-spa-project-archetype/blob/master/src/main/resources/archetype-resources/angular-app/src/app/components/main-content/main-content.component.ts#L36

[2019-02-25 14:32] pfauchere commented on #48
A "root" container is expected by both the template and page editor. We will probably have to find a fix using the stylesheet

[2019-02-28 02:06] godanny86 opened #59 "Archetype should be published and publicly available"
When attempting to generate a new SPA project the archetype doesn't seem to be found in any **public** catalogs. I assume it should be uploaded to nexus.adobe.com, i.e https://repo.adobe.com/nexus/content/groups/public/com/adobe/granite/archetypes/aem-project-archetype/

Command:

[code]
Error:

[code]

[2019-03-01 13:27] DiegoVanBelle commented on #59
I'm getting the same issue. Any fix on the way?

[2019-03-01 15:45] pfauchere commented on #59
Could it relate to [0]? Is someone curious enough to investigate?

[0] https://issues.apache.org/jira/browse/ARCHETYPE-529

[2019-03-05 11:40] fjjimenezv opened #60 "Java 11 not supported"
The documentation talks about "Java 1.8 or higher", but I cannot compile with Java 11.0.2.
Changing to Java 1.8.121 it works

This is the detail of the error

[INFO] [ERROR] Tests run: 2, Failures: 0, Errors: 2, Skipped: 0, Time elapsed: 1.989 s <<< FAILURE! - in com.adobe.spa.test.projects.internal.models.PageImplTest
[INFO] [ERROR] testConfigChildPage(com.adobe.spa.test.projects.internal.models.

[2019-03-05 11:42] lydiapuric commented on #60
Thanks for filing the issue.
We will check and come back with the result.

[2019-03-07 06:46] ittaibaratz opened #61 "[React] Support static CRA assets"
The Create React App used by this archetype will create JS, CSS and static assets under the build folder:

![image](https://user-images.githubusercontent.com/1454683/53937003-9b6a8c00-4060-11e9-86c7-ea21b7c06bff.png)

However, aem-clientlib-generator used by this library will only copy the JS and CSS files.
As a result, when static resources are used by the app (Fonts, background images, etc) - Th

[2019-03-07 07:13] ittaibaratz commented on #61
I managed to get the static assets over to AEM by tweaking clientlib.config.js:

`...resources: [ "build/static/media/*.*" ] `

The problem is that in the CSS files, the URL of the assets is something like:
http://localhost:4502/static/media/AvenirLTStd-Book.ecb0c2ae.otf

however in AEM we require that the URL get rewritten to something like
http://localhost:4502/etc.clientlibs/mysamplespa/clientl

[2019-03-07 07:40] ittaibaratz commented on #61
Raised https://github.com/wcm-io-frontend/aem-clientlib-generator/issues/14 which will be required in order to solve this.

[2019-03-07 18:24] ittaibaratz opened #62 "[React] Clientlib housekeeping"
It seems like the clientlib deployment does not cleanup previous deployments as seen below:

![image](https://user-images.githubusercontent.com/1454683/53979544-051b8200-40c3-11e9-82df-05d58b50e674.png)

This is a problem because webpack adds a hash to the resources to avoid over-caching.

[2019-03-07 18:30] godanny86 commented on #61
@ittaibaratz another alternative would be to add an additional webpack module to build process to rewrite the compiled CSS **before** using clientlib-generator to move it into a client-library...

[2019-03-07 18:34] ittaibaratz commented on #61
I think it's cleaner to rewrite only in the AEM folder, this way the built scripts inside the react project's build folder will still work.

I have created a [PR](https://github.com/wcm-io-frontend/aem-clientlib-generator/pull/15) in aem-clientlib-generator which will enable this. If they don't accept, we can do the rewriting after the clientlib was generated inside the AEM folder - This is very e

[2019-03-07 21:02] ittaibaratz opened #64 "[React] Support quick syncing to AEM"
If I want to test my app in AEM, currently I have to run Maven at the top folder which completes in about 2 minutes.

As a Frontend developer, I want to be able to quickly synchronize the app into AEM without having to go through Maven. The workflow is going to be as simple as:

1. "npm run sync" - This will run a listener which will watch the aem folder for changes
2. "npm run build" - In order t

[2019-03-07 23:07] godanny86 commented on #64
@ittaibaratz while not exactly the same, there is the option of proxying the JSON from AEM and using the webpack dev server...

[2019-03-07 23:35] ittaibaratz commented on #64
That's what I am doing, however I keep running into areas where the app renders differently inside the aem author and that ends up consuming a lot of my time. I already put a PR to show how this can be done very easily.

[2019-03-07 23:45] godanny86 commented on #64
understood @ittaibaratz. Curious to know what areas of the app renders differently inside AEM author as that hurts the value prop of the feature and would be good for customers to watch out for.

[2019-03-08 00:38] AlleyGator opened #66 "Archetype Version Out of Date"
Help file refers to -DarchetypeVersion=1.0.3-SNAPSHOT, but current version is 1.0.5-SNAPSHOT

[2019-03-09 22:56] ittaibaratz opened #67 "[React] use Router instead of BrowserRouter"
This is needed in order to allow using the history object to programmatically move between routes.

This is a simple change, and I'll provide a PR when I get to it. It is explained properly [here](https://stackoverflow.com/questions/42701129/how-to-push-to-history-in-react-router-v4).

Essentially we need to change the following in index.js:
`<BrowserRouter>
        <App cqChildren=... />
  </Brow

[2019-03-09 23:01] ittaibaratz commented on #48
I ran into this issue too as I noticed my app had a big space at page top in AEM compared to webpack, and the only option was to delete the <root> node in CRX/DE.

If we have to keep the root node, we should check if we can avoid dumping it into the component hierarchy when rendering through AEM. Either way, rendering should be the same between AEM and the webpack proxy.

[2019-03-11 01:05] ittaibaratz opened #68 "Core - Add maven-scr-plugin to pom.xml"
In order to extract OSGi services from the core package created by the archetype, add maven-scr-plugin to the POM.

Use case - Create servlets to be consumed by the SPA, OSGi services consumed by Sling Models, etc.

Will provide a PR when I get a chance.

[2019-03-11 07:00] #68 closed

[2019-03-12 07:29] ittaibaratz opened #69 "ui.apps - Wrong vault configuration"
The /apps/APP folder should not use merge mode. This means that when we update our components, those updates will not reflect when we install a newer package.

`    <filter root="/apps/mysamplespa" mode="merge"/> `

[2019-03-12 10:18] lydiapuric commented on #69
@ittaibaratz Thanks for reporting.
The filter for apps uses merge mode so this archetype does not destroy any custom datain case you have already an project with the same name.
Imagine the use case you start building your spa app and you want to sync at any time with the archetype.

[2019-03-12 10:25] lydiapuric commented on #67
@ittaibaratz Thanks for using the archetype and your effort to report the issues.
Your proposed improvement sounds good. Looking for your contribution.

[2019-03-12 10:30] lydiapuric commented on #66
@AlleyGator Thanks for your effort to report the issue.
Issue is fixed, closing.

[2019-03-12 10:30] #66 closed

[2019-03-12 10:36] lydiapuric commented on #61
@ittaibaratz Thanks for taking care of this issue and driving the discussion.

[2019-03-12 16:11] godanny86 commented on #69
I have to agree with @ittaibaratz, it has long been a standard that `/apps` is overwritten every time as is the case with [0] in the aem project archetype. I'm not sure what you mean by "sync" with the archetype?

[0] - https://github.com/adobe/aem-project-archetype/blob/master/src/main/archetype/ui.apps/src/main/content/META-INF/vault/filter.xml

[2019-03-12 17:40] ittaibaratz commented on #67
Thanks @lydiapuric , pull request created.

[2019-03-12 19:15] ittaibaratz opened #71 ".gitignore files are not created automatically"
The archetype template contains default gitignore files, however they are not copied to the generated project.

The gitignore files should be automatically copied to the project to save developer efforts.

[2019-03-12 20:50] lydiapuric commented on #69
What I mean with sync is if you generate a new version of the archetype to get the latest status and try to update / sync your existing project.
If there is no need and the project archetype handles is different, then let's just adjust the vault filter for /apps. no strong feeling here from my side.

[2019-03-13 23:46] godanny86 commented on #59
hi @pfauchere, irrespective of interactive mode vs batch mode, I don't think the archetype has ever been uploaded to the public nexus repo:

[code]
Checkout: https://repo.adobe.com/nexus/content/groups/public/com/adobe/cq/ there is no **spa** folder.

The standard aem project archetype has been uploaded and deployed to nexus: https://repo.adobe.com/nexus/content/groups/public/com/adobe/granite/arc

[2019-03-13 23:53] pfauchere commented on #59
I confirm that we haven't uploaded yet the artifact of the archetype to the nexus. Thanks for the project-archetype reference. We will align the current project accordingly ASAP

[2019-03-14 18:25] ittaibaratz opened #72 "Default Sling Model"
Use Case: As a Frontend developer with no Java skills, I do not want to always develop a Sling Model for my components.

Currently, if we create a new component (I tried with React but I guess its the same with Angular) that component will automatically dump all its props in the model when a model request is done at a parent level, i.e. lets say I have a new model-less button component at /content

[2019-03-15 00:08] godanny86 opened #73 "Core Components are not embedded as a subpackage"
It looks like ui.apps is expected to embed core.wcm.components.all but when deployed to AEM I don't see this subpackage embedded:

[code]

![image](https://user-images.githubusercontent.com/8974514/54399435-ab472900-467b-11e9-9ddc-1038200c3f6a.png)

Not sure if its easier to just move the core components subpackage to be added in `all/pom.xml` ?

Either way Core Components should be deployed as a

[2019-03-15 16:00] ittaibaratz commented on #61
I have closed the PR - Will look for a cleaner alternative which will support both CSS and JS.

[2019-03-15 16:43] ittaibaratz commented on #61
I have done some research and here are the possible options to support static assets within AEM:

1. Rewrite the URLs in the CSS and JS files after they have been compiled. This works but its not very clean.

2. Use an existing react-scripts fork that allows tweaking the CRA webpack config. For example [react-app-rewired](https://github.com/timarney/react-app-rewired) or [react-scripts-rewired](ht

[2019-03-20 09:36] pfauchere opened #74 "Get rid of the CustomModelClient and set a server proxy"
A cleaner solution could be to use: https://facebook.github.io/create-react-app/docs/proxying-api-requests-in-development#configuring-the-proxy-manually

ex: `react-app/src/setupProxy.js`

[code]

By making this change we should be able to get rid of the following conditional step [0] and potentially the {{CustomModelClient}}. If necessary, the {{CustomModelClient}} could potentially be reintroduc

[2019-03-20 09:36] pfauchere commented on #74
cc @godanny86

[2019-03-20 14:45] pfauchere commented on #74
issue tracked internally by CQ-4266178

[2019-03-20 14:54] pfauchere commented on #69
issue tracked internally by CQ-4266180

[2019-03-20 14:54] pfauchere commented on #59
issue tracked internally by CQ-4266179

[2019-03-20 14:59] pfauchere commented on #60
issue tracked internally by CQ-4266181

[2019-03-21 23:04] ittaibaratz commented on #61
For my own app, I've decided to use [react-scripts-rewired](https://github.com/marcopeg/create-react-app/tree/master/packages/react-scripts) which is the simplest solution to allow webpack override. Here are the steps I've taken. These make sure all assets work in AEM when referenced in both CSS and JS: (Note PROJECT should be replaced with actual project name)

1. Install **react-scripts-rewired*

[2019-04-04 20:18] ittaibaratz opened #75 "SPA does not work on publish instances due to missing ACLs."
## Bug Report

**Current Behavior**
When creating an SPA with the Archetype, the SPA will not render properly on an AEM Publish instance.

The page model root url meta tag renders empty:
```<meta property="cq:pagemodel_root_url"/>```

This leads the SPA to load the model for the current page (i.e. myapp/en/home) instead of the parent page (i.e. myapp/en) and breaks navigation.

**Expected behavior

[2019-04-04 21:33] ittaibaratz commented on #75
To reproduce the issue - Install this package in publish:
[com.adobe.xcl.spaissuesamples.all-1.0.0-SNAPSHOT.zip](https://github.com/adobe/aem-spa-project-archetype/files/3045565/com.adobe.xcl.spaissuesamples.all-1.0.0-SNAPSHOT.zip)

Then open the following page on publish - Make sure you are accessing publish anonymously (Not logged in)

```http://localhost:4503/content/spaissuesamples/en/home.htm

[2019-04-05 15:59] ittaibaratz commented on #74
Note a React developer may use static assets in his project, so I would set the proxy as follows to allow assets hosted by webpack:

[code]

[2019-04-05 17:02] #62 closed

[2019-04-05 17:20] ittaibaratz opened #81 "Add a convenience NPM script to deploy the project into AEM locally"
## Feature Request

As a Frontend developer, I want to be able to push my project into a local AEM instance without having to use Maven.

**Describe the solution you'd like**
Create an additional script inside package.json which will call Maven to build and deploy the project onto AEM.

**Are there alternatives?**
The alternative is for frontend developers to use Maven directly.

**Documentation**

[2019-04-05 18:17] ittaibaratz commented on #81
Example implementation:

[code]

[2019-04-11 08:55] pfauchere commented on #58
Could be resolved when working on https://github.com/adobe/aem-spa-project-archetype/issues/74

[2019-04-11 09:17] #55 closed

[2019-04-11 09:21] pfauchere commented on #51
The clientlib configuration should probably be something like `jsProcessor: ["default:none", "min:none"]`

[2019-04-11 09:25] pfauchere commented on #60
A similar work has been performed on the _We.Retail Journal_ sample project.

See https://github.com/adobe/aem-sample-we-retail-journal/commit/6af61df13035a95fa14af79c6d5c3178ed702e10

[2019-04-11 09:55] fistakus commented on #54
+1 but for a bit different reason.

The binding:
[code]
is implicitly defining the data model (props) what would be injected into the Component. So, this section of the TextComponent:
[code]
has to be revised every time the data model type: `'${projectName}/components/text'` is changed.

Having both in a single file makes this connection more visible and any potential issue easier to spot (i.e. du

[2019-04-11 16:59] pfauchere commented on #71
[0] Could be the beginning of an answer

[0] http://linkedlist.cz/2018/01/10/maven-archetype-gitignore.html

[2019-04-11 23:28] ittaibaratz commented on #71
Good find @pfauchere  - Pull request created. I've also added a configuration for maven-resource-plugin to not copy node_modules if it exists

[2019-04-14 21:42] anandkilli commented on #59
Hello @pfauchere , Is there an ETA on when the Archetype will be available? Is there a way we can track it or get notified when it's ready?

[2019-04-15 17:32] GR1ML0CK opened #83 "React Code splitting"
Based on going through the Getting started project [here](https://github.com/Adobe-Marketing-Cloud/aem-guides-wknd-events), it seems like the approach of using `aem-clientlib-generator` does not allow for utilizing code splitting for react in AEM. I posted an issue about this on that project and it was suggested that i post the question here.

https://github.com/Adobe-Marketing-Cloud/aem-guides-wk

[2019-04-29 21:29] #71 closed

[2019-04-29 21:29] #81 closed

[2019-04-29 22:11] #67 closed

[2019-05-06 10:57] Jdruwe commented on #59
Seems to be still an issue.

[2019-05-07 06:42] pfauchere commented on #59
There is some latency as we are moving away from our nexus and are considering public repositories. Thank you for refreshing the conversation

[2019-05-10 06:48] cqsapient opened #84 "wrong path of filter.xml in pom.xml"
In pom.xml of ui.apps and ui.content, the path of filter.xml in

`<filterSource>${basedir}/META-INF/vault/filter.xml</filterSource>`

tag is incorrect

so the packages deployed in AEM don't have filter.xml and can't be uninstalled.

The correct path is

`<filterSource>${basedir}/src/main/content/META-INF/vault/filter.xml</filterSource>`

This issue is in the latest 1.1.1-SNAPSHOT version from deve

[2019-05-16 18:56] pfauchere commented on #84
Thank you very much for taking the time to report the issue. Feel free to submit a PR and accelerate the delivery of the fix

[2019-05-30 10:03] cqsapient commented on #61
hi @ittaibaratz
I am facing the same issue and trying to implement your solution, however when I try to run npm install after installing react-scripts-rewired; I get the following error -

[code]

would you know what might be the issue here, did you also face the same issue?

Will appreciate your reply.

Thanks

[2019-06-03 07:20] cqsapient opened #85 "Doesn't work on IE 11"
We know that react doesn't support IE11 , but I hope AEM SPA developers didn't completely exclude IE11 from it's support matrix.

http://localhost:4502/editor.html/content/we-retail-journal/react/en/home.html

Adding import 'react-app-polyfill/ie11';
import 'core-js'; in App/index.js also doesn't solve the issue.

Please let us know how to enable SPA app and SPA authoring on IE11

[2019-06-06 09:53] cqsapient opened #86 "Sling mapping url shortening support"
This is a question rather than a feature request/bug.

There is no sling mapping support in the outputted json, is that right? The outputted model.json;  if it has any internal link which starts form /content/mysite/en/newpage , will it respect the sling mapping and out put the html with the domain name appended and the url shortened asper the sling mapping? As per my understanding for static page

[2019-06-13 11:58] habansal commented on #86
@cqsapient Yes, indeed!
Like you said, since the html is formed on the fly via react, sling rewriters transformers won't come into picture.
LinkChecker also uses Sling Request Rewriter Pipeline and only parses content for HTML responses. In case of SPAs, there is no HTML repsonse. So, Linkchecking is also not performed on the pages.

[2019-06-13 12:24] tsimlin commented on #84
@pfauchere attached you can find a patch within zip. Could not create a PR

[patch.zip](https://github.com/adobe/aem-spa-project-archetype/files/3285938/patch.zip)

[2019-06-13 14:14] cqsapient commented on #86
Hi @habansal Yes currently I am doing url shortening on publish instances using reverse sling mapping and using resourceresolver.map in backend java sling model which exposes the .model json which is consumed by front end react. So the output json is domain appended and url shortened . I guess this is the most appropriate approach, let me know if you see a cleaner solution.

Now, this approach wor

[2019-06-19 10:53] cqsapient opened #87 "React app does not load on publish instance due to HierarchyPageImpl"
When there is no access to /conf folder ( and hence the page policy) to anonymous user on publish instance, then content attribute is empty as it gets populated via HierarchyPageImpl and code is not able to access conf folder

<meta property="cq:pagemodel_root_url"/>

so to fetch the model json it accesses the current page's model

![image](https://user-images.githubusercontent.com/22097490/597596

[2019-06-19 11:02] cqsapient commented on #87
The two calls originate only on dispatcher - on publish, when cq:pagemodel_root_url is populated, only once call(rightly so) on the root page is sent to fetch the model, but in dispatcher with the shortened url and without .html , two calls originate. Please let me know if a cleaner solution is available.

[2019-07-04 04:31] yakulto opened #88 "mvn test fails for newly generated project"
## Bug Report

**Current Behavior**
Generated a new project using archetype 1.1.0, running mvn test will fail on the analyze-classes goal:

This is actually related to this issue: [https://github.com/adobe/aem-project-archetype/issues/161](https://github.com/adobe/aem-project-archetype/issues/161) which is fixed by bumping the filevault-package-maven-plugin to 1.0.3. (would need to be fixed in thi

[2019-07-04 14:03] pfauchere commented on #88
Hi,

I currently cannot reproduce the issue. I can currently trigger a `mvn clean test` command line both with the archetype and with the generated project without errors.

On [0] I read `when building without installing the artifacts` and I am wondering if I executed the `install` step beforehand or not... Could you please give us more detail?

I am using:
* Java 1.8
* Maven 3.6.1

[0] https://is

[2019-07-04 14:06] pfauchere commented on #87
Would giving read access to the project templates and policies to anonymous solve your issue?

[2019-07-04 14:10] pfauchere commented on #85
Hi `@adobe/cq-react-editable-components` may be the bottleneck - as it also has to be built to support ie11

[2019-07-05 04:19] yakulto commented on #88
So I tried with another fresh generated project using the following command:
`mvn archetype:generate -B -DarchetypeCatalog=local -DarchetypeGroupId=com.adobe.cq.spa.archetypes -DarchetypeArtifactId=aem-spa-project-archetype -DarchetypeVersion=1.1.0 -Dpackage=com.yakulto -DgroupId=com.yakulto -DartifactId=yakulto -Dversion=1.0.0-SNAPSHOT -DprojectTitle="yakulto" -DprojectName=yakulto -DcomponentGro

[2019-07-16 07:39] ramakrij commented on #83
Any update on this? Ideally I would like to see code splitting working with acs versioned clientlibs. Is there any work around at the moment others have tried successfully?

[2019-07-16 08:10] GR1ML0CK commented on #83
I did end up coming up with a solution that works pretty with create-react-app and versioned clientlibs. When I get a chance I'll throw an example up on github and share a link.

[2019-07-16 13:46] Themikeross commented on #85
We extended the support within package.json:
[code]

**Added the following ployfills in index.js**
[code]

[2019-07-17 11:32] pfauchere commented on #83
Hi, we didn't have the time to explore this topic. Your contribution is welcomed!

[2019-07-17 19:30] GR1ML0CK commented on #83
I'll try to get something up. The main thing for code splitting with cra is that you need to only bundle the main.*.js and the vendor.*.js with the clientlibs plug in. These are the main entry points for all your chunks which will have dynamically generated name so you will need to write a script to move these file to a location relative to the clientlib you create, so the pathing that webpack gen

[2019-07-18 07:49] ramakrij commented on #83
Got it. So use the acs versioned clientlibs hash for main and vendor.js. Pack these 2 in the clientlibs. Other chunks are stored under a relative path with webpack generated hashes. Use them as is. 👍

[2019-07-19 08:50] samuelmeuli commented on #83
When building an app with CRA, there are three scripts included in `build/index.html`. Example:

[code]

According to https://facebook.github.io/create-react-app/docs/production-build,

* `runtime~main.[hash].js` is "webpack runtime logic which is used to load and run your application"
* `main.[hash].chunk.js` is the application code
* `[number].[hash].chunk.js` are files resulting from code split

[2019-07-20 23:04] GR1ML0CK commented on #83
You can match the main js files via globbing (e.g. "/main.*.js". The vendor file gets generated with a random name though. There is a way to tell cra to generate it with a non random name. I'll need to look at my project to remember how we did that

[2019-07-20 23:40] GR1ML0CK commented on #83
We had to use [customize-cra](https://github.com/arackaf/customize-cra) to get the bundle name for the vendor code renamed. here is the code that should make this all work

[code]
[code]

[2019-07-25 18:24] nick-khoury opened #89 "SPA Principles in Multi Module Project?"
I am wondering if there is any reason that I would not (or should not) be able to apply the way SPA project is setup to a more generic multi module project (say created from the archetype https://github.com/adobe/aem-project-archetype). I.E. I am trying to add a `react-app` module to a multi module project and make it so that any React components I implement can show up in the AEM touch UI editor

[2019-07-25 19:05] godanny86 commented on #89
@nick-khoury yes you should be able to add the react-app module to an existing project archetype as a new maven module. You can configure the aem-clientlib-generator (clientlibconfig.js) to then move the compiled react app into a clientlibrary wherver ui.apps is in your existing project. If you want to use the SPA Editor you would also need to ensure that you have the HierarchyPage and Impl deploy

[2019-08-12 13:40] #52 closed

[2019-08-14 08:49] samuelmeuli opened #100 "Lighthouse checks with CircleCI"
## Feature Request

**Is your feature request related to a problem? Please describe.**

It would be nice to integrate Lighthouse into the CircleCI setup so we can test whether PRs decrease the PWA score before merging them.

**Describe the solution you'd like**

[Lighthouse Bot](https://github.com/GoogleChromeLabs/lighthousebot) currently only supports Travis CI, but there is an open PR adding Cir

[2019-08-27 07:54] #53 closed

[2019-08-27 08:10] #51 closed

[2019-08-27 08:10] #69 closed

[2019-08-27 08:10] #84 closed

[2019-08-27 08:11] #60 closed

[2019-09-30 10:41] #100 closed

[2019-09-30 10:58] habansal commented on #64
Closing this issue, as it's already fixed and the PR merged

[2019-09-30 10:58] #64 closed

[2019-10-10 12:50] #59 closed

[2019-10-15 04:45] davesag opened #110 "The desired archetype does not exist (com.adobe.cq.spa.archetypes:aem-spa-project-archetype:1.0.5-SNAPSHOT)"
## Bug Report

**Current Behavior**

I have been following the instructions in the readme, cloned this repo, ran `mvn clean install archetype:update-local-catalog` and then `mvn archetype:crawl`, then created a new folder and ran

[code]

and it failed with

[code]

**Expected behavior/code**

I expected a new project to be successfully generated

**Environment**
- AEM version and patch level (e.g

[2019-10-15 04:58] davesag commented on #110
I got this to work by using the following command

[code]

I recommend the README be updated to reflect this

[2019-10-15 04:58] #110 closed

[2019-10-15 06:30] samuelmeuli commented on #110
Thanks for reporting! This will be resolved with 82e3a6b5fcd5e65ec0d6511379c3bdec3811117c.

[2019-10-15 13:32] samuelmeuli commented on #88
I've encountered issues with this plugin as well. #112 updates it to the latest version.

[2019-10-16 04:13] davesag opened #113 "Default app fails due to malformed url"
## Bug Report

**Current Behavior**

I have generated a basic react single page app, adjusted the `cors` settings in the AEM Author environment, and launched the development server.

The app runs but I get the following error

[code]

The issue seems to be that the url being fetched is incorrect.

I can go to `http://localhost:4502/content/mysamplespa/en.model.json` and the content loads correctly

[2019-10-16 04:17] ittaibaratz commented on #113
I've seen this too. I believe this problem is because by default, the development server starts at http://localhost:3000.
In my project, once I manually redirect to the correct page (http://localhost:3000/content/signage2020/en/home.html in my case), then the model loads correctly.

If so, then I'd say this is a feature request to have the dev server start at a specific path. Can you confirm this

[2019-10-16 04:17] davesag commented on #113
It might be worth noting however that if I actually install the app into AEM via `mvn clean install -PautoInstallSinglePackage` then go to `localhost:4502/editor.html/content/spa.mysamplespa/en.html` I get the following

![mysamplespa-screensnap](https://user-images.githubusercontent.com/387098/66887809-cc00a400-eff9-11e9-98c9-19149813441c.png)

and if I then choose 'view as published' I see

![my

[2019-10-16 04:18] davesag commented on #113
Yes. in my case going to `http://localhost:3000/content/mysamplespa/en/home.html` works as expected.

[2019-10-16 04:23] ittaibaratz commented on #113
I did some digging and I think this redirection is not yet supported by CRA. It seems they do have a PR to support it, so we might need to wait for this PR to be merged before we can enable it in the archetype, unless we can find a way to do it around CRA, or use a customized react-scripts:

https://github.com/facebook/create-react-app/pull/7259

[2019-10-16 04:29] ittaibaratz commented on #113
A different solution could be to update public/index.html to automatically redirect from http://localhost:3000 to the correct path. This will prevent relying on CRA to support PUBLIC_URL in development.

[2019-10-16 04:31] davesag commented on #113
Interestingly the default `public/index.html` includes the following

[code]
which appears to be being ignored

[2019-10-16 06:50] samuelmeuli commented on #113
This confused me as well.

I implemented a fix a while ago in a PR that was closed. I updated the `start` scripts in `package.json` by the following:

* Angular: `"start": "open-cli http://localhost:3000/content/${projectName}/en/home.html && ng serve --proxy-config ./proxy.aem.conf.json"`
* React: `"start": "open-cli http://localhost:3000/content/${projectName}/en/home.html && BROWSER=none react-

[2019-10-16 06:53] ittaibaratz commented on #113
@samuelmeuli how is open-cli able to open the URL before react-script has finished starting up?
Also, will it load it in the same tab as the default one webpack opens, or will you get two tabs open?

[2019-10-16 07:06] samuelmeuli commented on #113
@ittaibaratz `open-cli` is run first because `ng serve`/`react-scripts start` will run until until stopped. We could also switch the order and use `&` instead of `&&`.

The Webpack behavior is disabled with `BROWSER=none`.

[2019-10-16 07:13] samuelmeuli commented on #113
Or we could use [`npm-run-all`](https://github.com/mysticatea/npm-run-all) for better compatibility (e.g. with Windows).

[2019-10-16 12:03] samuelmeuli opened #114 "Fix flaky tests on macOS CI"
CI tests on macOS are temporarily disabled because they are flaky.

Stack trace: https://github.com/adobe/aem-spa-project-archetype/pull/94/checks?check_run_id=260497228#step:4:5220

Lines that might be relevant:

[code]

Might be related to https://stackoverflow.com/questions/30861293/maven-not-working-when-mvn-package-command-is-run/32514413#32514413

**Internal issue:** CQ-4281649

[2019-10-16 16:43] ittaibaratz commented on #113
@samuelmeuli - I would rather put it in index.html because then we can also connect it to the .env file, so a developer will be able to develop against other paths besides just /en/home. For example:

.env.development file:
`REACT_APP_PATH=/content/signage2020/en/home.html`

index.html file body element:

`<script>
      if (location.href == 'http://localhost:3000/') {
        location.href += '%R

[2019-10-17 07:43] #54 closed

[2019-10-17 07:43] #58 closed

[2019-10-17 07:43] #74 closed

[2019-10-17 08:34] samuelmeuli commented on #88
@yakulto I cannot reproduce this issue, would you mind testing if it still occurs with `filevault-package-maven-plugin` v1.0.4?

[2019-10-17 11:55] #41 closed

[2019-10-22 07:52] samuelmeuli commented on #88
We're gonna go ahead and merge #112 as it should fix your first issue (in `analyze-classes`) and we cannot reproduce the second one (in `generate-metadata`). Please let us know if you're still encountering issues with the new version :)

[2019-10-22 07:57] #88 closed

[2019-10-22 16:37] keepthebyte opened #121 "Update to use latest Core Components dependency"
## Feature Request

**Is your feature request related to a problem? Please describe.**
An old version of the Core Components is referenced today, the Archetype should use the latest Core Components - as of writing tis is 2.7.0

**Describe the solution you'd like**
Update the dependency

https://github.com/adobe/aem-spa-project-archetype/blob/master/src/main/resources/archetype-resources/pom.xml

[

[2019-10-25 10:11] #113 closed

[2019-10-25 10:13] samuelmeuli commented on #121
Related: https://github.com/adobe/aem-spa-project-archetype/issues/73 (Core Components are not being embedded)

[2019-10-29 21:43] Parikshit-Hooda opened #122 "Typo in README"
Create is written as crate. Shall raise a PR today.

[2019-11-01 09:03] sharanyavinod opened #126 "Page with no extension is not rendered"
An SPA page with no extension renders the HTML but not the content of the SPA by itself. Issue is only on React applications and not Angular.
For example - site/page.html renders but site/page does not.

[2019-11-01 09:05] #126 closed

[2019-11-01 09:49] #61 closed

[2019-11-01 09:49] #83 closed

[2019-11-07 10:15] samuelmeuli opened #128 "Update Jackson dependencies"
GitHub Security Alerts reports multiple vulnerabilities in `com.fasterxml.jackson.core:jackson-databind`. The recommendation is to update to at least `v2.9.10.1`.

Currently, `v2.9.6` is available in AEM 6.4/6.5 (with service packs), so the dependency can be updated to that version.

**Internal issue:** CQ-4259655

[2019-11-12 10:20] #122 closed

[2019-11-13 09:51] #73 closed

[2019-11-13 09:51] #121 closed

[2019-11-14 03:41] brunob15 commented on #72
Are there any updates/thoughts on this proposal? I think it would be great to export the properties of a component by default (at least the ones declared in the dialog).

[2019-11-18 09:57] samuelmeuli commented on #87
This is the same issue as https://github.com/adobe/aem-spa-project-archetype/issues/75, and it should be fixed by https://github.com/adobe/aem-spa-project-archetype/pull/131.

Please open a new issue if this isn't resolved for you in the next version :)

[2019-11-18 09:57] #87 closed

[2019-11-18 15:29] emd2013 opened #133 "Angular Archetype discrepancies with Wknd Events code repo"
The [angular archetype ](https://github.com/adobe/aem-spa-project-archetype/tree/master/src/test/resources/projects/angular/reference/angular-app)and overall code structure is fundamentally and operationally different from the [Wknd Events repo](https://github.com/Adobe-Marketing-Cloud/aem-guides-wknd-events/tree/angular/chapter-8).

Examples:
Router: [Wknd](https://github.com/Adobe-Marketing-Clou

[2019-11-18 15:44] #75 closed

[2019-11-22 20:50] emd2013 opened #134 "The desired archetype does not exist (com.adobe.cq.spa.archetype:aem-spa-project-archetype:4.0.0"
Getting the following error when running the command:

**The desired archetype does not exist (com.adobe.cq.spa.archetype:aem-spa-project-archetype:4.0.**

[2019-11-26 09:02] samuelmeuli commented on #134
I'm afraid I cannot reproduce this. I removed my `settings.xml` file, copy-pasted the command from the README, and it's working for me.

You can see here that the project is available on the Central Repository: https://search.maven.org/artifact/com.adobe.cq.spa.archetypes/aem-spa-project-archetype/4.0.0/maven-archetype

[2019-11-26 22:50] emd2013 commented on #134
error on my end, please close!

[2019-11-26 22:50] #134 closed

[2019-11-26 22:52] emd2013 opened #135 "[Angular] Authorable component does not refresh automatically when in AEM Edit mode"
When creating an angular component and mapped to a corresponding AEM component,[ per the instructions here](https://docs.adobe.com/content/help/en/experience-manager-64/developing/headless/spas/spa-overview.html), when authoring the component in AEM Edit mode, the author has to refresh the page manually to see the authored changes of that component's dialog.

[2019-11-27 12:39] emd2013 commented on #72
Any update?

[2019-12-02 12:42] habansal commented on #135
@emd2013 Can you provide more details about this issue ?
I can see the changes on the page after editing the component without any page refresh.

Please provide the exact detailed steps to reproduce the issue.

P.S. : Please check if it is the same issue as https://github.com/adobe/aem-spa-project-archetype/issues/18

[2019-12-02 12:45] emd2013 commented on #135
hey @habansalI the text componet works fine. Issue is with a custom component:

Steps to reproduce:

- Use the archetype to generate a starter kit and upload it on an AEM instance.
- Develop a custom angular/AEM component following the basic guidelines here: https://helpx.adobe.com/experience-manager/kt/sites/using/getting-started-spa-wknd-tutorial-develop/angular/chapter-8.html
- Navigate to any

[2019-12-02 15:30] davidjgonzalez commented on #133
@emd2013  these changes looks largely cosmetic. You should start with w/ SPA Archetype and adjust as needed.

The Router may not appear cosmetic on the surface, however the SPA Editor JS SDK (and archetype) was augmented to abstract some of the boilerplate complexity away... for example, the JS SDK exposes the definition of the `AemPageRouteReuseStrategy` in the WKND tutorial into the SDK provided

[2019-12-05 13:06] #128 closed

[2019-12-06 19:40] emd2013 commented on #135
@habansal following up

[2019-12-10 09:44] habansal commented on #133
@emd2013 If your concern has been addressed, I will close this issue. Let us know otherwise.

[2019-12-10 14:46] samuelmeuli commented on #135
@emd2013 It's working for me in the [WKND Events](https://github.com/Adobe-Marketing-Cloud/aem-guides-wknd-events) project (branch `angular/chapter-8`). Is this issue specific to the archetype? If so, would you be able to provide a sample repo?

[2019-12-10 14:47] #133 closed

[2019-12-12 16:17] samuelmeuli commented on #114
This archetype has been merged into [aem-project-archetype](https://github.com/adobe/aem-project-archetype), so this project's CI workflows have been replaced.

[2019-12-12 16:17] #114 closed

[2019-12-13 09:22] habansal commented on #48
Indeed!
This issue is not specific to SPA, but a Page editor CSS issue.
Issue and fix are tracked internally in AEM via CQ-4259401

cc @pfauchere @samuelmeuli

[2019-12-13 09:31] samuelmeuli commented on #135
The SPA archetype has been merged into the [general AEM archetype](https://github.com/adobe/aem-project-archetype). @emd2013, if this problem still occurs, please create a new issue in that repository.

[2019-12-13 09:31] #135 closed

[2019-12-13 09:41] #48 closed

[2020-02-13 18:49] iameduardod opened #137 "Text Component Fails to Render after upgrading to Angular 9"
Upgrade to Angular v9 per the instructions at https://update.angular.io/#8.0:9.0l2

When building with the -prod flag, any [authored Text component from this repo](https://github.com/adobe/aem-spa-project-archetype/tree/master/src/test/resources/projects/angular/reference/angular-app/src/app/components/text) fails to render.

Specifically, it's the [ng build option optimization set to true ](https